* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://i.blogs.es/4667ae/sentarse-bien5/450_1000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  max-width: 1200px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content-box {
  background: linear-gradient(
    to bottom,
    rgba(0, 188, 212, 1),
    40%,
    rgba(245, 245, 245, 1) 0%
  );
  width: 380px;
  height: 580px;
  position: relative;
}

.photo-user {
  position: absolute;
  left: calc(50% - 50px);
  top: 30px;
}
.photo-user img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
}
.content-form {
  width: 320px;
  height: 300px;
  margin: auto;
}

form {
  position: absolute;
  background: #fff;
  width: 320px;
  height: 390px;
  margin-top: 40%;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  border-radius: 5px;
}
form p {
  font-size: 1.6em;
  color: #555;
  text-align: center;
  margin: 25px;
}
.content-form .error {
  color: red;
  margin: 0 35px;
  display: none;
}

form input[type="text"],
input[type="password"] {
  position: relative;
  width: 80%;
  height: 40px;
  padding-left: 15px;
  margin: 0px 30px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 188, 212, 1);
  outline: none;

  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 1);
}

button {
  width: 50px;
  height: 50px;
  margin-left: calc(50% - 30px);
  background: rgba(0, 188, 212, 0.8);
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: rgba(0, 188, 212, 1);
}
.close:hover{
  background: none;
}
.content-box a {
  color: rgb(3, 116, 168);
  text-decoration: none;
  font-size: 1.2em;
}
.content-box .forgetPassword {
  display: block;
  margin-left: 30px;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 14px;
}
.register {
  display: block;
  text-align: center;
  margin: 16px 0px;
}

/* MODAL RESTABLECER CONTRASEÑA */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.alert{
  z-index: 10;
}
.modal-intentos{
  position:absolute;
  top: 16%;
  height: 432px;
  width: 100%;
}
.modal-intentos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align:center;
}
.numIntentos{
  position: absolute;
  top:90%;
  font-size: 20px;
  left: 13%;
}
