* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  color: #0097a7;
  letter-spacing: 2px;
  margin: 10px;
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: 15px 10px;
  border: none;
  transition: all 400ms;
}
.btn-primary {
  background-color: #0097a7;
}

.btn-primary:hover {
  background-color: #03717e;
}

.link {
  margin: 20px;
}

.alert{
  z-index: 10;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  content: '';
  position: absolute;
}
.toggle-wrapper{
  position: absolute;
  right: 0;
}
input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
span{
  top: 35px;
  width: 140px;
  right: 110px;
}
.toggle {
  position: relative;
  display: inline-block;
}

label.toggle-item {
  width: 4.9em;
  background: #2e394d;
  height: 2em;
  display: inline-block;
  border-radius: 50px;
  margin: 30px;
  position: relative;
  transition: all .3s ease;
  cursor: pointer;
}
label.toggle-item:before {
  display: block;
  transition: all .2s ease;
  width: 2em;
  height: 2em;
  top: .25em;
  left: .25em;
  border-radius: 2em;
  border: 2px solid  #c34a4a;
  transition: .3s ease;
}

.checkcross label:before {
  content: none;
}
.checkcross .check {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  position: absolute;
  background:  #c34a4a;
  transition: .4s ease;
  top: 0px;
  left: 0px;
}
.checkcross .check:before, .checkcross .check:after {
  height: 3px;
  border-radius: 10px;
  background: #fff;
  transition: .4s ease;
}


#checkcross:checked + label .check {
  left: 48px;
  transform: rotate(360deg);
  background: #8BC34A;
}

ul li{
 list-style:none;
 font-weight: bold;
}